<a href="https://colab.research.google.com/github/Gurjotkaur007/TR-102-Daily-Diary/blob/main/OOP(13_6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
class phone:
    def __init__(self):
        print("this is default constructor.")
mob=phone()
print(id(mob))
print(mob)

this is default constructor.
135933126693680
<__main__.phone object at 0x7ba165bad330>

In [6]:
class phone:
    def __init__(self,name,price):
        self.n=name
        self.p=price
        print("this is inside the default constructor.")
mob=phone("Xiomi",50000)
print("the model of phone is:",mob.n,"and the price is:",mob.p)

this is inside the default constructor.
the model of phone is: Xiomi and the price is: 50000

In [7]:
from re import M
class car:
    def __init__(self,make,model,year):
      self.make=make
      self.model=model
      self.year=year
car_1=car("BMW","X5",2020)
print(car_1.make,car_1.model,car_1.year)

BMW X5 2020

In [8]:
class person:
    def __init__(self,name,age):
      self.name=name
      self.age=age
      print("Greetings!!")
P1=person("Ravi",20)
print("The name is ",P1.name,"and the age is ",P1.age)

Greetings!!
The name is  Ravi and the age is  20

In [18]:
class rectangle:
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth
        area=length*breadth
        print("The area is",area)
rec=rectangle(5,7)

The area is 35

In [17]:
class Student:
    def __init__(self, name, lis):
        self.name = name
        self.lis = lis
        average_grade=sum(lis)/len(lis)
        print("The average grade is ",average_grade)
stu=Student("Ravi",[90,80,95,89,93])

The average grade is  89.4

In [25]:
class Book:
    def __init__(self,title,author,pages):
        self.title=title
        self.author=author
        self.pages=pages
        print("Details of Book:\nTitle:",title,"\nAuthor:",author,"\nPages:",pages)
b1=Book("Wonders of Art","Ravi Das",550)
b2=Book("Science","HAns",800)

Details of Book:
Title: Wonders of Art
Author: Ravi Das
Pages: 550
Details of Book:
Title: Science
Author: HAns
Pages: 800

Define a Point class with attributes for x and y coordinates. Add a method to calculate the distance from another point. Create two objects and print the distance between them.

In [26]:
class Point:
    def __init__(self,x,y):
        self.x=x
        self.y=y
        distance=y**2+x**2
        print("The distance is",distance)
obj1=Point(7,5)
obj2=Point(8,2)

The distance is 74
The distance is 68

 Create a method in the Person class which returns how another person's age compares. Given the objects p1, p2 and p3, which will be initialised with the attributes name and age, return a sentence in the following format:

{other_person} is {older than / younger than / the same age as} me.

In [ ]:
class Employee:
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
        print("The name is",name,"and the age is",age,"and the salary is",salary)